[submodule "Cloak"]
	path = Cloak
	url = https://github.com/cbeuw/Cloak
[submodule "kmp_client/awg/src/main/cpp/amneziawg-tools"]
	path = kmp_client/awg/src/main/cpp/amneziawg-tools
	url = https://github.com/amnezia-vpn/amneziawg-tools
