<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:name="com.dobby.DobbyApplication"
        android:allowBackup="false"
        android:icon="@drawable/dobby_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.Dobby"
        android:usesCleartextTraffic="false">
        <activity
            android:name="org.golang.app.GoNativeActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|uiMode"
            android:theme="@android:style/Theme"
            android:windowSoftInputMode="adjustResize">
            <meta-data android:name="android.app.lib_name" android:value="dobby_vpn" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.dobby.nativebridge.DobbyVpnService"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="VPN tunnel preparation, connection and cleanup" />
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <receiver
            android:name="org.golang.app.FyneNotificationReceiver"
            android:exported="false" />
    </application>
</manifest>
