<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.dobby.feature.vpn_service.VpnTrafficTestActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
