<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
		<Component Directory="DobbyVPNFolderBin" Id="DobbyVPNExecutable" Guid="5a8e6ab1-0ea6-45a5-9a93-316fdde30dc7">
			<File Source="dobbyVPN-windows\bin\Dobby Vpn.exe" KeyPath="yes">
				<Shortcut 
					Id="DobbyVPNStartMenuShortcut" 
					Directory="ProgramMenuFolder" 
					Name="DobbyVPN" 
					Description="DobbyVPN: Secure VPN" 
					WorkingDirectory="DobbyVPNFolderBin" 
					Advertise="yes" />
				<Shortcut 
					Id="ApplicationDesktopShortcut"
					Directory="DesktopFolder" 
					Name="DobbyVPN"
					Description="DobbyVPN: Secure VPN"
					WorkingDirectory="DobbyVPNFolderBin" />
			</File>
		</Component>
		<Component Directory="DobbyVPNFolderBin" Id="DobbyVPNCliExecutable" Guid="31c65f0f-407e-4d7b-99cb-3b5de6d2ea2e">
			<File Source="dobbyVPN-windows\bin\dobby-cli.exe" KeyPath="yes" />
		</Component>
		<Component Directory="DobbyVPNFolderBin" Id="DobbyVPNServerService" Guid="1ef0c193-dccb-41a5-ae7e-b1f0c214924d">
			<File Source="dobbyVPN-windows\bin\windows_grpcvpnserver.exe" KeyPath="yes" />
			<File Source="wintun\bin\$(var.DOBBYVPN_PLATFORM)\wintun.dll" />

			<ServiceInstall 
					Id="svc.Install"
					Name="DobbyVPN Server"
					DisplayName="DobbyVPN Server"
					Description="DobbyVPN grpc vpn server, that manages all tunnels connections."
					Type="ownProcess"
					Start="auto"
					ErrorControl="normal"
					Arguments="-mode=service" >
				<ServiceDependency Id="Nsi" />
				<ServiceDependency Id="TcpIp" />
			</ServiceInstall>
			<ServiceControl
					Id="svc.Control"
					Name="DobbyVPN Server"
					Start="install"
					Stop="both"
					Remove="uninstall"
					Wait="yes" />
			<ServiceConfig 
					Id="svc.Config"
					ServiceName="DobbyVPN Server"
					OnInstall="yes"
					ServiceSid="unrestricted" />
			<!-- The service runs as SYSTEM, but the control token must also be
			     readable by the desktop user who performed the installation. -->
			<RegistryValue
					Root="HKLM"
					Key="SYSTEM\CurrentControlSet\Services\DobbyVPN Server"
					Name="Environment"
					Type="multiString">
				<MultiStringValue Value="DOBBYVPN_CONTROL_TOKEN_USER=[LogonUser]" />
				<MultiStringValue Value="DOBBYVPN_CONTROL_TOKEN_VERSION=1" />
			</RegistryValue>
		</Component>
		
		<!-- build.bat admits the import-derived service runtime closure; this glob
		     keeps the checksum-pinned bridge beside the installed service binary. -->
		<Files Directory="DobbyVPNFolderBin" Include="dobbyVPN-windows\bin\**.dll" />
		<Files Directory="DobbyVPNFolderApp" Include="dobbyVPN-windows\app\**" />
		<Files Directory="DobbyVPNFolderLib" Include="dobbyVPN-windows\lib\**" />
		<Files Directory="DobbyVPNFolderConf" Include="dobbyVPN-windows\conf\**" />
		<Files Directory="DobbyVPNFolderLegal" Include="dobbyVPN-windows\legal\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
