<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
		<!-- The v1.5.1 executable path changed; this needs a new MSI component identity. -->
		<Component Directory="DobbyVPNFolderBin" Id="DobbyVPNExecutable" Guid="da24efb2-1702-4156-8ea1-892b0de2e50f">
			<File Source="dobbyVPN-windows\bin\DobbyVPN.exe" KeyPath="yes">
				<Shortcut 
					Id="DobbyVPNStartMenuShortcut" 
					Directory="ProgramMenuFolder" 
					Name="DobbyVPN" 
					Description="DobbyVPN: Secure VPN" 
					WorkingDirectory="DobbyVPNFolderBin" 
					Advertise="yes" />
				<Shortcut 
					Id="ApplicationDesktopShortcut"
					Directory="DesktopFolder" 
					Name="DobbyVPN"
					Description="DobbyVPN: Secure VPN"
					WorkingDirectory="DobbyVPNFolderBin" />
			</File>
		</Component>
		<Component Directory="DobbyVPNFolderBin" Id="DobbyVPNCliExecutable" Guid="31c65f0f-407e-4d7b-99cb-3b5de6d2ea2e">
			<File Source="dobbyVPN-windows\bin\dobby-cli.exe" KeyPath="yes" />
		</Component>
		<!-- The v1.5.1 service key file and runtime closure changed. -->
		<Component Directory="DobbyVPNFolderBin" Id="DobbyVPNServerService" Guid="5810499f-aa36-44a7-b9df-9a9505597be2">
			<File Source="dobbyVPN-windows\bin\dobbyvpn-backend.exe" KeyPath="yes" />
			<File Source="dobbyVPN-windows\bin\dobby_bridge.dll" />
			<File Source="wintun\bin\$(var.DOBBYVPN_PLATFORM)\wintun.dll" />

			<ServiceInstall 
					Id="svc.Install"
					Name="DobbyVPN Go backend"
					DisplayName="DobbyVPN Go backend"
					Description="Shared Go backend for DobbyVPN connections."
					Type="ownProcess"
					Start="auto"
					ErrorControl="normal"
					Arguments="-mode=service" >
				<ServiceDependency Id="Nsi" />
				<ServiceDependency Id="TcpIp" />
			</ServiceInstall>
			<ServiceControl
					Id="svc.Control"
					Name="DobbyVPN Go backend"
					Start="install"
					Stop="both"
					Remove="uninstall"
					Wait="yes" />
			<ServiceConfig 
					Id="svc.Config"
					ServiceName="DobbyVPN Go backend"
					OnInstall="yes"
					ServiceSid="unrestricted" />
			<!-- Default to the installer SID; test installs may supply the interactive account SID. -->
			<RegistryValue
					Root="HKLM"
				Key="SYSTEM\CurrentControlSet\Services\DobbyVPN Go backend"
					Name="Environment"
					Type="multiString">
				<MultiStringValue Value="DOBBYVPN_CONTROL_PIPE_SID=[DOBBYVPN_CONTROL_PIPE_SID]" />
			</RegistryValue>
		</Component>
		
		<!-- The unpackaged WinUI app loads its self-contained runtime files beside the EXE. -->
		<Files Directory="DobbyVPNFolderBin" Include="dobbyVPN-windows\bin\**">
			<Exclude Files="dobbyVPN-windows\bin\DobbyVPN.exe" />
			<Exclude Files="dobbyVPN-windows\bin\dobby-cli.exe" />
			<Exclude Files="dobbyVPN-windows\bin\dobbyvpn-backend.exe" />
			<Exclude Files="dobbyVPN-windows\bin\dobby_bridge.dll" />
			<Exclude Files="dobbyVPN-windows\bin\wintun.dll" />
		</Files>
		<Files Directory="DobbyVPNFolderApp" Include="dobbyVPN-windows\app\**" />
		<Files Directory="DobbyVPNFolderLib" Include="dobbyVPN-windows\lib\**" />
		<Files Directory="DobbyVPNFolderConf" Include="dobbyVPN-windows\conf\**" />
		<Files Directory="DobbyVPNFolderLegal" Include="dobbyVPN-windows\legal\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
