<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package
		Id="DobbyVPN"
		Name="DobbyVPN"
		Manufacturer="DobbyVPN team"
		Language="1033"
		Version="$(var.DOBBYVPN_VERSION)">

		<Icon Id="dobbyvpn.ico" SourceFile="dobbyVPN-windows/app/app.ico" />

		<Property Id="ARPPRODUCTICON" Value="dobbyvpn.ico" />
		<Property Id="ARPURLINFOABOUT" Value="https://github.com/DobbyVPN/DobbyVPN" />
		<Property Id="ARPNOMODIFY" Value="yes" />
		<Property Id="DISABLEADVTSHORTCUTS" Value="yes" />
		<Property Id="MSIDISABLERMRESTART" Value="1" />
		<Property Id="MSIRMSHUTDOWN" Value="1" />
		<Property Id="DOBBYVPN_CONTROL_PIPE_SID" Secure="yes" />
		<SetProperty
			Id="DOBBYVPN_CONTROL_PIPE_SID"
			Value="[UserSID]"
			Before="CostFinalize"
			Sequence="both"
			Condition="NOT DOBBYVPN_CONTROL_PIPE_SID" />

		<MediaTemplate EmbedCab="yes" />

		<!-- Remove v1.5.0 before installing components with changed key files. -->
		<MajorUpgrade
			AllowDowngrades="no"
			AllowSameVersionUpgrades="yes"
			DowngradeErrorMessage="A newer version of [ProductName] is already installed."
			Schedule="afterInstallInitialize" />

    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>
  </Package>
</Wix>
