<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package
		Id="DobbyVPN"
		Name="DobbyVPN"
		Manufacturer="DobbyVPN team"
		Language="1033"
		Version="$(var.DOBBYVPN_VERSION)">

		<Icon Id="dobbyvpn.ico" SourceFile="dobbyVPN-windows/app/app.ico" />

		<Property Id="ARPPRODUCTICON" Value="dobbyvpn.ico" />
		<Property Id="ARPURLINFOABOUT" Value="https://github.com/DobbyVPN/DobbyVPN" />
		<Property Id="ARPNOMODIFY" Value="yes" />
		<Property Id="DISABLEADVTSHORTCUTS" Value="yes" />
		<Property Id="DISABLEROLLBACK" Value="yes" />
		<Property Id="MSIDISABLERMRESTART" Value="1" />
		<Property Id="MSIRMSHUTDOWN" Value="1" />

		<MediaTemplate EmbedCab="yes" />

		<MajorUpgrade
			AllowDowngrades="no"
			AllowSameVersionUpgrades="yes"
			DowngradeErrorMessage="A newer version of [ProductName] is already installed."
			Schedule="afterInstallExecute"
			IgnoreRemoveFailure="yes" />

    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
    </Feature>
  </Package>
</Wix>
