<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>DobbyVPNService</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Applications/Dobby VPN.app/Contents/Resources/grpcvpnserver</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>

    <key>WorkingDirectory</key>
    <string>/Applications/Dobby VPN.app/Contents/Resources/</string>

    <key>StandardOutPath</key>
    <string>ServiceStdoutPath</string>
    <key>StandardErrorPath</key>
    <string>ServiceStderrPath</string>
</dict>
</plist>
