name: Android Build

on:
  workflow_call:

jobs:
  android_build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Update the airports data
        working-directory: kmp_client/app/src/commonMain/resources
        run: ./updateairports.sh

      - name: Download Go AAR
        uses: actions/download-artifact@v4
        with:
          name: outline-debug.aar
          path: kmp_client/libs

      - name: Download So
        uses: actions/download-artifact@v4
        with:
          name: liboutline.so
          path: kmp_client/outline/src/main/jniLibs/arm64-v8a

      - name: Set up JDK 21.0.6 (Temurin)
        uses: actions/setup-java@v5
        with:
          java-version: "21.0.6"
          distribution: "temurin"

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3
        with:
          packages: "build-tools;34.0.0 platforms;android-34 ndk;27.0.12077973 cmake;3.22.1"

      - name: Set up Git Submodules
        run: git submodule update --init --recursive

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y golang gcc libgl1-mesa-dev xorg-dev coreutils
          sudo apt-get install -y gcc-multilib gcc-mingw-w64

      - name: Build & Sign via Fastlane
        working-directory: kmp_client
        run: |
          bundle install
          bundle exec fastlane android build_android
        env:
          GITHUB_SHA: ${{ github.sha }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          KEYSTORE_FILE: ${{ secrets.KEYSTORE_FILE }}

      - name: Upload Signed APK
        uses: actions/upload-artifact@v4
        with:
          name: dobbyvpn-android.apk
          path: kmp_client/dobbyvpn-android.apk
