name: Android Build

on:
  workflow_call:

jobs:
  android_build:
    runs-on: ubuntu-latest
    env:
      APP_MAJOR_VERSION: ${{ vars.MAJOR }}
      APP_MINOR_VERSION: ${{ vars.MINOR }}
      APP_MAINTENANCE_VERSION: ${{ vars.MAINTENANCE }}
      GITHUB_SHA: ${{ github.sha }}
      GITHUB_REPOSITORY: ${{ github.repository }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Update the airports data
        working-directory: .github/file_updates/airports_update
        run: ./updateairports.sh

      - name: Download Go AAR
        uses: actions/download-artifact@v4
        with:
          name: outline-debug.aar
          path: kmp_client/libs

      - name: Download So
        uses: actions/download-artifact@v4
        with:
          name: liboutline.so
          path: kmp_client/outline/src/main/jniLibs/arm64-v8a

      - name: Download .h
        uses: actions/download-artifact@v4
        with:
          name: liboutline.h
          path: kmp_client/outline/src/main/cpp/include/arm64-v8a

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.3'

      - name: Set up JDK 17 (Temurin)
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3
        with:
          packages: >
            build-tools;34.0.0
            platforms;android-34

      - name: Bundle Install
        working-directory: kmp_client
        run: |
          bundle install

      - name: Build unsigned via Fastlane
        working-directory: kmp_client
        run: |
          bundle exec fastlane android build_android

      - name: Build & sign via Fastlane
        working-directory: kmp_client
        run: |
          bundle exec fastlane android build_android_and_signing
        env:
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          KEYSTORE_FILE: ${{ secrets.KEYSTORE_FILE }}

      - name: Upload signed APK
        uses: actions/upload-artifact@v4
        with:
          name: dobbyvpn-android-sign.apk
          path: kmp_client/DobbyVPN-v${{ vars.MAJOR }}.${{ vars.MINOR }}.${{ vars.MAINTENANCE }}-sign.apk

      - name: Upload unsigned APK
        uses: actions/upload-artifact@v4
        with:
          name: dobbyvpn-android-unsign.apk
          path: kmp_client/DobbyVPN-v${{ vars.MAJOR }}.${{ vars.MINOR }}.${{ vars.MAINTENANCE }}-unsign.apk
