name: Desktop Build

on:
  workflow_call:

jobs:
  desktop_build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Go AAR
        uses: actions/download-artifact@v4
        with:
          name: outline-debug.aar
          path: kmp_client/libs

      - name: Download So
        uses: actions/download-artifact@v4
        with:
          name: liboutline.so
          path: kmp_client/outline/src/main/jniLibs/arm64-v8a

      - name: Download Windows lib
        uses: actions/download-artifact@v4
        with:
          name: lib_windows
          path: kmp_client/libs

      - name: Download Linux lib
        uses: actions/download-artifact@v4
        with:
          name: lib_ubuntu
          path: kmp_client/libs

      - name: Download MacOS lib
        uses: actions/download-artifact@v4
        with:
          name: lib_macos
          path: kmp_client/libs

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          check-latest: true

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: >
            ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties', '**/libs.versions.toml') }}

      - name: Build desktop via Fastlane
        working-directory: kmp_client
        run: |
          bundle install
          bundle exec fastlane android build_desktop
        env:
          APP_MAJOR_VERSION: ${{ vars.MAJOR }}
          APP_MINOR_VERSION: ${{ vars.MINOR }}
          APP_MAINTENANCE_VERSION: ${{ vars.MAINTENANCE }}
          GITHUB_SHA: ${{ github.sha }}
          GITHUB_REPOSITORY: ${{ github.repository }}

      - name: Conveyor build site
        uses: hydraulic-software/conveyor/actions/build@v16.0
        env:
          OAUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          command: make site
          extra_flags: "--passphrase=\"${{ secrets.CONVEYOR_PASSPHRASE }}\" -f kmp_client/conveyor.conf"
          signing_key: ${{ secrets.CONVEYOR_SIGNING_KEY }}
          agree_to_license: 1

      - name: Display file tree with sizes after Linux build
        run: |
          echo "Displaying the size of files and directories in 'output' directory:"
          du -ah output | sort -rh

      - name: Find files
        id: find_deb
        run: |
          echo "DEB_FILE=$(find ./output -name '*.deb' -type f)" >> $GITHUB_ENV
          echo "TARGZ_FILE=$(find ./output -name '*.tar.gz' -type f)" >> $GITHUB_ENV
          echo "MAC_AARCH64_FILE=$(find ./output -name '*-mac-aarch64.zip' -type f)" >> $GITHUB_ENV
          echo "MAC_AMD64_FILE=$(find ./output -name '*-mac-amd64.zip' -type f)" >> $GITHUB_ENV
          echo "MSIX_FILE=$(find ./output -name '*.msix' -type f)" >> $GITHUB_ENV
          echo "WIN_ZIP_FILE=$(find ./output -name '*-windows-amd64.zip' -type f)" >> $GITHUB_ENV

      - name: Upload Debian
        uses: actions/upload-artifact@v4
        with:
          name: dobbyVPN-linux.deb
          path: ${{ env.DEB_FILE }}

      - name: Upload Tar Gz
        uses: actions/upload-artifact@v4
        with:
          name: dobbyVPN-linux.tar.gz
          path: ${{ env.TARGZ_FILE }}

      - name: Upload Zip for Mac aarch64
        uses: actions/upload-artifact@v4
        with:
          name: dobbyVPN-macos-aarch64.zip
          path: ${{ env.MAC_AARCH64_FILE }}

      - name: Upload Zip for Mac amd64
        uses: actions/upload-artifact@v4
        with:
          name: dobbyVPN-macos-amd64.zip
          path: ${{ env.MAC_AMD64_FILE }}

      - name: Upload Msix
        uses: actions/upload-artifact@v4
        with:
          name: dobbyVPN-windows.msix
          path: ${{ env.MSIX_FILE }}

      - name: Upload Windows Zip
        uses: actions/upload-artifact@v4
        with:
          name: dobbyVPN-windows.zip
          path: ${{ env.WIN_ZIP_FILE }}

      - name: Cleanup Conveyor
        if: always()
        run: |
          rm -rf .conveyor/cache/*

      - name: Display file tree with sizes after Windows build
        run: |
          echo "Displaying the size of files and directories in 'output' directory:"
          du -ah output | sort -rh
