name: iOS Build

on:
  workflow_call:

jobs:
  ios_build:
    runs-on: macos-14
    env:
      APP_MAJOR_VERSION: ${{ vars.MAJOR }}
      APP_MINOR_VERSION: ${{ vars.MINOR }}
      APP_MAINTENANCE_VERSION: ${{ vars.MAINTENANCE }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Update the airports data
        working-directory: kmp_client/app/src/commonMain/resources
        run: ./updateairports.sh

      - name: Set up JDK 21.0.6 (Temurin)
        uses: actions/setup-java@v5
        with:
          java-version: '21.0.6'
          distribution: 'temurin'

      - name: Select Xcode 16.1
        run: sudo xcode-select -s /Applications/Xcode_16.1.app

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      - name: Sentry auth
        working-directory: kmp_client/iosApp
        run: |
          echo "[auth]" > .sentryclirc
          echo "token=${{ secrets.SENTRY_AUTH }}" >> .sentryclirc

      - name: Download iOS lib
        uses: actions/download-artifact@v4
        with:
          name: MyLibrary.xcframework
          path: kmp_client/iosApp/MyLibrary.xcframework

      - name: Bundle install
        working-directory: kmp_client
        run: |
          bundle install

      - name: Fastlane bump build and version
        working-directory: kmp_client
        env:
          GITHUB_RUN_NUMBER: ${{ github.run_number }}
        run: |
          bundle exec fastlane ios bump_build_and_version

      - name: Fastlane build Kotlin Multiplatform
        working-directory: kmp_client
        run: |
          bundle exec fastlane ios build_kotlin_multiplatform

      - name: Fastlane prepare_signing
        working-directory: kmp_client
        env:
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
          CERT_P12_PASSWORD: ${{ secrets.CERT_P12_PASSWORD }}
          CERT_P12_BASE64: ${{ secrets.CERT_P12_BASE64 }}
          PROVISION_DOBBY_BASE64: ${{ secrets.PROVISION_DOBBY_BASE64 }}
          PROVISION_DOBBY_TUNNEL_BASE64: ${{ secrets.PROVISION_DOBBY_TUNNEL_BASE64 }}
        run: |
          bundle exec fastlane ios prepare_signing

      - name: Fastlane build_ios
        working-directory: kmp_client
        run: |
          bundle exec fastlane ios build_ios

      - name: Upload IPA as artifact
        uses: actions/upload-artifact@v4
        with:
          name: DobbyVPN.ipa
          path: kmp_client/iosApp/build/ipa/*.ipa

      - name: Fastlane upload_testflight
        if: ${{ github.ref == 'refs/heads/main' }}
        working-directory: kmp_client
        env:
          APP_STORE_API_KEY: ${{ secrets.APP_STORE_API_KEY }}
          APP_STORE_KEY_ID: ${{ secrets.APP_STORE_KEY_ID }}
          APP_STORE_ISSUER_ID: ${{ secrets.APP_STORE_ISSUER_ID }}
          APP_TESTFLIGHT_EXTERNAL_GROUP: ${{ secrets.APP_TESTFLIGHT_EXTERNAL_GROUP }}
        run: |
          bundle exec fastlane ios upload_testflight
